.BlogCard{
    width: 350px;
    display: inline-block;
    margin: 10px;
}
.BlogCard .card-img-top{
    height: 348px;
    object-fit: cover;
}

.BlogAdmin .list-group-item div span{
    cursor: pointer;
}

.BlogAdmin .list-group-item div span:hover{
    color: whitesmoke;
}