.Home .convoList{
    text-decoration: none;
}

.Home .convoList .list-group-item {
    cursor: pointer
}

.Home .carousel-inner img{
    max-height: 400px;
}

.Home .carousel-caption{
    bottom: 30px;
}

.Home .likeText{
    color: green;
}

.Home .newTrendingCard{
    box-shadow: 0px 2px 12px 1px #888888;
    max-width: 400px;
    margin: 0 auto;
}

.Home .newTrendingCard:hover{
    background-color: #eceaea8c;
}

.Home .newTrendingCard a{
    text-decoration: none;
    color: black;
}

.Home .dislikeText{
    color: red;
}

.Home .category img{
    height: 280px;
    width: 100%;
}

.Home .category:hover{
    background-color: #eceaea8c;
}


.Home .category a{
    text-decoration: none;
    color: black;
}

.Home .category{
    box-shadow: 0px 2px 12px 1px #888888;
}

  